* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.648);
  font-family: "Source Sans Pro", sans-serif;
}
header {
  width: 50%;
  margin: 5% 0 2% 0;
  color: white;
}
h1 {
  margin-bottom: 10px;
}
#new-input,
.content input {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff2b;
  color: white;
  width: calc(100% - 100px);
}
.content {
  width: 70%;
}
.content input {
  width: 100%;
}
.actions {
  width: 30%;
  margin-top: 18px;
}

#new-submit,
.actions button {
  margin: 0 12px 0px;
  border-radius: 24%;
  border: none;
  width: 70px;
  height: 42px;
  outline: none;
  background-color: rgb(250, 90, 90);
  color: white;
  cursor: pointer;
}
#new-submit {
  background-color: rgb(125, 247, 125);
}
.actions button.edit {
  background-color: rgb(252, 161, 71);
}
main {
  width: 50%;
}
.task {
  margin-bottom: 8px;
}
.task,
#title {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  color: #fff;
}

@media screen and (max-width: 600px) {
}
